body {
  background-color: antiquewhite;
  font-family: "Kalnia Glaze", serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0, 08);
  padding: 30px;
}
